{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<br>
<br>
 <div class="col-md-5">
{% comment %}-------- form area start--------- {% endcomment %}
<form action="" method="POST">
 {% csrf_token %} 
<h5>Write Your Feedback </h5>
<div>


Name:
<input type="text" class="form-control" name="name" placeholder="Enter your name">
<br>

Email:
<input type="email" class="form-control" name="email" placeholder="Enter your Email">
<br>
Feedback:
<textarea name="comment" rows="4" class="form-control" placeholder="Write your feedback"></textarea>
    <br>
   <input type="submit" class="btn btn-primary">
    
</div>

</form>
{% comment %}-------- form area end--------- {% endcomment %}
    </div>
{% endblock %}
