asgiref==3.7.2
dj-database-url==2.1.0
Django==4.2.6
django-crispy-forms==2.0
djangorestframework==3.14.0
duplicity==0.8.21
EasyProcess==1.1
entrypoint2==1.1
fasteners==0.14.1
filelock==3.6.0
future==0.18.2
gpg==1.16.0
gunicorn==21.2.0
packaging==23.2
Pillow==10.0.1
python-decouple==3.8
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.8.0
whitenoise==6.5.0
