{% extends "base.html" %}
{% block title %}Blog{% endblock %}


{% block content %}
</br></br>
</br></br>

<div class="container mt-7">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            </br></br>
            {%for i in object_list %}

            <img src="blog-image.jpg" class="card-img-top" alt="Blog Image">
            <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{i.author}}</p>
                <p class="card-text">{{i.body|safe|slice:"0:500"}}</p>
                <a href="{% url 'Blog-Detail' i.pk %}" class="btn btn-primary">Read More</a>
            </div>
            </br></br>

            {% endfor %}

            </br></br>
        </div>
    </div>
</div>

{% endblock %}