{% extends "base.html" %}
{% block title %}Blog{% endblock %}


{% block content %}
</br></br>
</br></br>
<div class="container">
    <div class="row">
        {%for i in object_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{i.author}}</h6>
                <p class="card-text">{{i.body|slice:"0:120"}}</p>
                <a href="{% url 'Blog-Detail' i.pk %}" class="card-link">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}