{% extends "base.html" %}
{% block title %}FAQ{% endblock %}

{% block content %}
<br> <br>
<body>
    <div class="container mb-3 mt-5">
        <div class="section_title text-center mb-55">
            <h3><span>Frequently Asked Questions</span></h3>
        </div>
        <div class="accordion" id="faqAccordion">
            <div class="card">
                <div class="card-header" id="heading1">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            Q: What is HTML?
                        </button>
                    </h2>
                </div>
                <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#faqAccordion">
                    <div class="card-body">
                        A: HTML stands for HyperText Markup Language. It is the standard markup language for creating web pages.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            Q: What is CSS?
                        </button>
                    </h2>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#faqAccordion">
                    <div class="card-body">
                        A: CSS stands for Cascading Style Sheets. It is used for describing the presentation of a document written in HTML.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading3">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            Q: How can I learn web development?
                        </button>
                    </h2>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#faqAccordion">
                    <div class="card-body">
                        A: You can learn web development through online tutorials, courses, and practice. There are many resources available online to get started.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

{% endblock %}